<nav class="navbar navbar-expand-md bg-dark navbar-dark">

  <a class="navbar-brand" href="#">Navbar</a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span  class="caret" ></span>
            </a>
          <ul class="dropdown-menu">
            <li><a >Logout</a></li>
            <li ><a >Login</a></li>
            <li><a >Update Password</a></li>
          </ul>
        </li>
        <li><a routerLink="/products" >Products</a></li>
        <li><a routerLink="/suppliers">Suppliers</a></li>
      </ul>
    </div>
  </nav>
</nav>
<router-outlet></router-outlet>
